$primary-font: 'Gloria Hallelujah', sans-serif;  
$secondary-font: 'Dosis', sans-serif;  
$footer-height: 45px;

.navbar-inverse {
  font-family: $secondary-font;
  position: relative;
  min-height: 65px;
  margin-bottom: 85px;
  border: 5px solid transparent;
}

.navbar-brand {
  font-family: "Pacifico";
  color: #000000;
}
.navbar-nav{
  font-size: 18px;
}

.navbar-header .navbar-brand {
  font-weight: 100; 
  font-size: 35px;
  letter-spacing: 2px;
}

.panel {
  background-color: rgb(255,255,255);
}

.btn-block{
  margin-bottom: 2px;
}
.btn-sm{
    font-size: 15px;
}

.html, .body {
    font-family: $primary-font;
}

/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  background-color:	#DCDCDC;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

/* Set the fixed height of the footer here */
.footer {
  height: $footer-height;
}
